In [18]:
import numpy as np
import pandas as pd

In [19]:
lst = [1,2,3,4,5]

In [20]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [21]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [22]:
pd.DataFrame([lst,lst,lst], columns=['A','B','C','D','E'])

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [23]:
df = pd.DataFrame([lst,lst,lst], columns=['A','B','C','D','E'])
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [7]:
import pandas as pd
lst = ['Geeks', 'For','Geeks']
df = pd.DataFrame(lst)
print(df)

       0
0  Geeks
1    For
2  Geeks

In [3]:
#Pandas Series
#A pandas series is a 1d array capable of holding data of any type(float,integer,string,python objects etc)
#Creating a series using the Pandas Library.
import pandas as pd
import numpy as np
#Creating empty series
ser = pd.Series()
print("Pandas Series: ", ser)
#Simple array
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
#Pandas DataFrame
#A Dataframe is a 2d structure constructed with rows and columns similar to excel spreadsheets
#Creating a DataFrame Using the Pandas Library
import pandas as pd
#calling dataframe constructor
df = pd.DataFrame()
print(df)
#List of strings
lst = ["Geeks","for",'Geeks','is','a','portal','for','geeks']
#calling dataframe constructor on lst
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     for
2   Geeks
3      is
4       a
5  portal
6     for
7   geeks

In [25]:
#Creating an Empty DataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [26]:
#Creating a DataFrame from a List
import pandas as pd
lst = ['Geeks','For','Geeks']
df = pd.DataFrame(lst)
print(df)

       0
0  Geeks
1    For
2  Geeks

In [28]:
#Creating DataFrame from dict of Numpy Array
import numpy as np
import pandas as pd
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(data, columns= ['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
#Creating a DataFrame from a List of Dictionaries  
import pandas as pd
dict = {'name':["aparna","Pankaj","sudhir","Geeku"],
       'degree': ["MBA","BCA","M.Tech","MBA"],
       'score':[90,40,80,98]}
df = pd.DataFrame(dict)
print(df)

     name  degree  score
0  aparna     MBA     90
1  Pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98